body {
	background-color: #f3f3f3;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.content {
	flex-grow: 1;
	overflow: auto;
	text-align: center;
}
a.personal-name {
	display: flex;
	height: 26.66666667vw;
	background-image: url(/images/profile/ucenter_bg_top.png);
	padding: 0 6.6666666667vw;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
}
a.personal-name>img {
	width: 16vw;
	height: 16vw;
	border-radius: 50%;
}
a.personal-name>div {
	flex-grow: 1;
	display: flex;
	align-items: center;
	margin-left: 2.66666667vw;
	justify-content: space-between;
}
a.personal-name>div>span {
	color: #fff;
	font-size: 3.733333333vw;
}
a.personal-name>div>img {
	width: 4.8vw;
	height: 4.8vw;
}
.my-order {
	margin: 2.66666667vw 0;
}
.my-order-header {
	background-color: #fff;
	height: 10.6666666vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5.3333333vw;
}
a.my-order-header>span {
	color: #000;
	font-size: 3.7333333vw;
}
a.my-order-header>img {
	width: 4vw;
	height: 4vw;
}
.my-order-content {
	background-color: #fff;
	height: 18.6666666667vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1px;
}
.my-order-content::after {
	border: none;
	border-top: 1px solid #ccc;
}
.my-order-content>a {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
.my-order-content>a>img {
	height: 10.66666667vw;
	width: 10.66666667vw;
}
.my-order-content>a>span {
	color: #333;
	font-size: 3.2vw;
}
ul.my-assets {
	margin-bottom: 1.33333333vw;
}
ul.my-assets>li {
	background-color: #fff;
	margin-bottom: 1px;
	height: 13.33333333vw;
}
ul.my-assets>li>a {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.666666667vw 0 4vw;
}
ul.my-assets>li>a>div {
	display: flex;
	align-items: center;
}
ul.my-assets>li>a>div>img {
	width: 10.133333333vw;
	margin-right: 2.6666667vw;
}
ul.my-assets>li>a>div span {
	font-size: 3.733333333vw;
	color: #333;
}
ul.my-assets>li>a>img {
	width: 4vw;
	height: 4vw;
}
/* 退出按钮 */
button.btn-exit {
	display: none;
	width: 26.6666667vw;
	height: 12vw;
	background-color: #fff;
	border-radius: 1.3333333vw;
	margin: 1.33333333vw auto;
	outline: none;
	border: none;
}
button.btn-exit:after {
	border: none;
	border: 1px solid rgb(178, 178, 178);
}
button.btn-exit.active {
	display: block;
}